<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="panel.css" type="text/css">
  
  
</head>
<body>
        
    <nav class=" border-box ">
        <div class="container">
        <div class="row navpad">
            <div class="col-6"><button class="btn"><h5>Test Logo</h5></button></div>
            <div class="col-6 text-right ">User Name </div>
        </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="side-top-margin container">
            <button id="promotion">Promotions</button>
            <div id="mySidenav">
                <div class="mt-2"><a href="/promocode">Promo Codes</a></div>
                <div class="mt-2"><a href="/addnewpromo">Add Promo Codes</a></div>
            </div>
            <div id="main">
                <div class="mt-2"><a href="/order">Orders</a></div>
                <div class="mt-2"><a href="/getallproducts">Products</a></div>
            </div>
        </div>
    </div>
        
    <div class="content">
        <div><a href="/addnewpromo" class="btn button-design">Add New Promo</a></div>
        <div class="container">
        <% for(var i=0; i < promoItem.length; i++) { %>
            <table class="table bg-whiteB mt-4">
                <tr>
                    
                    <td><pre><%=i+1%>     <%=promoItem[i].promo_code%></pre></td>
                    
                    <td colspan="4">
                        <button class="float-right m-2 btn-active btn-danger">Active</button>
                        <a href="/updatepromo/<%=promoItem[i]._id%>"><button class="float-right m-2 btn-edit">Edit</button></a>
                    </td>
                </tr>
                <tr>
                    <td><small>Created at: <%=promoItem[i].created_at.toLocaleString()%></small></td>
                    <td><small>Usages: <%=promoItem[i].usages%></small></td>
                    <td><small>Discount rate: <%=promoItem[i].discount_rate%>%</small></td>
                    <td><small>Start date: <%=promoItem[i].start_date.toLocaleDateString("en-GB")%></small></td>
                    <td><small>End date: <%=promoItem[i].end_date.toLocaleDateString()%></small></td>
                </tr>
            </table>
        <% } %> 
        
    </div>
    </div>

    <script src="sidebarManage.js" type="text/javascript"></script>
    
</body>
</html>

        
    