<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/./panel.css" type="text/css">
</head>
<body>
    <nav class=" border-box ">
        <div class="container">
        <div class="row navpad">
            <div class="col-6"><button class="btn"><h5>Test Logo</h5></button></div>
            <div class="col-6 text-right ">User Name </div>
        </div>
        </div>
    </nav>
    <div class="sidebar">
        <div class="side-top-margin container">
            <button id="promotion">Promotions</button>
            <div id="mySidenav">
                <div class="mt-2"><a href="/promocode">Promo Codes</a></div>
                <div class="mt-2"><a href="/addnewpromo">Add Promo Codes</a></div>
            </div>
            <div id="main">
                <div class="mt-2"><a href="/order">Orders</a></div>
                <div class="mt-2"><a href="/getallproducts">Products</a></div>
            </div>
        </div>
    </div>
        
    <div class="content">
        <div class="form-position">
            <form action="/updatepromo" method="POST">
                
                <div class="form-group">
                    <label for="promo_code">Promo Code</label>
                    <input readonly class="form-control" type="text" value="<%=updatePromoData.promo_code%>" name="promo_code" id="promo_code"/>
                </div>
                <div class="form-group">
                    <label for="start_date">Start Date</label>
                    <input readonly class="form-control" type="text" value="<%=updatePromoData.start_date.toLocaleDateString()%>" name="start_date" id="start_date"/>
                </div>
                <div class="form-group">
                    <label for="end_date">End Date</label>
                    <input class="form-control" type="text" value="<%=updatePromoData.end_date.toLocaleDateString()%>" placeholder="" name="end_date" id="end_date"/>
                </div>

                <div class="form-group">
                    <label for="discount_rate">Discount Rate</label>
                    <input class="form-control" type="text" value="<%=updatePromoData.discount_rate%>" name="discount_rate" id="discount_rate"/>
                </div>
                <div class="form-group">
                    <label for="use_time">Use Time</label>
                    <input class="form-control" type="text" value="<%=updatePromoData.use_time%>" name="use_time" id="use_time"/>
                </div>
                <div class="checkbox-design d-flex">
                    <label for="active_status">Active</label>
                    <input class="ml-auto" type="checkbox" value="" name="active_status" id="active_status"/>
                </div>

                <div class="text-center">
                    <button class="btn" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>

    <script src="sidebarManage.js" type="text/javascript"></script>

</body>
</html>
